<nav class="navbar navba-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:rgb(255, 240, 241)">CRUD</h1>
        <div class="d-flex">
            <button type="button" (click)="clickAddCar()" data-bs-toggle="modal" data-bs-target="#exampleModal"class="btn btn-success">Add car</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Car_id</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Mileage</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of CarData">
            <td>{{row.id}}</td>
            <td>{{row.Make}}</td>
            <td>{{row.Model}}</td>
            <td>{{row.Year}}</td>
            <td>{{row.Mileage}}</td>
            <td>
                <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteCar(row)" class="btn btn-danger mx-2">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Car Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Make</label>
                  <input type="text" formControlName="Make" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Model</label>
                  <input type="text" formControlName="Model" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Year</label>
                    <input type="text" formControlName="Year" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mileage</label>
                    <input type="text" formControlName="Mileage" class="form-control" id="exampleInputPassword1">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postCarSpecs()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateCarSpecs()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>